@CHARSET "UTF-8";

 body{
background-color:#f2f3ea;
  padding:0;
   margin:0;
   width: 100%;
  height:100%;
 
 }
 
 textarea
{

  width:90%;
  min-height: 200px;
  margin:10px auto;
}

/*-------------Top panel-------------*/
 #main_top_block{
 height:50px;
  border:none;
margin:0;
 width:100%;

background:#aab6ae;

 background: -webkit-linear-gradient(to bottom,#a0aea3, #c5ccc2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom,#a0aea3, #c5ccc2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom,#a0aea3, #c5ccc2);/* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom,#a0aea3, #c5ccc2); /* Standard syntax */

 -webkit-box-shadow: 0 0 3px black;
-moz-box-shadow: 0 0 3px black;
-ms-box-shadow: 0 0 3px black;
-o-box-shadow: 0 0 3px black;
box-shadow: 0 0 3px black;

 }
 
 #main_top_left{
padding-left:50px;
 border:none;
 text-align:left;
 overflow:hidden;
 }
   #more_button{
 width:60px;
 height:50px;
 background-color:#f2f3ea;
 position:absolute;
 left:0;
 z-index:10;
cursor:pointer;
 border:none;
 }
 #more{
  border:none;
 width:60px;
 height:50px;
 background:url(images/menu_main.png);
 position:absolute;
-webkit-transform: rotate(0deg);
 }
 /*----------------------------------------*/

  /* --------------------------- */
 
 /*-------------News-------------*/
 #news_title{
 text-align:center;
 font-size:20px;
 color:#f5eff1;
 font-family: 'Open Sans', 'Helvetica Nueue', Helvetica, Verdana, Arial, sans-serif;
 margin-top:3px;
 margin-bottom:-3px;
 }
  


#news_date{
font-size:15px;
color:#c2a67f;
float:right;
margin-right:15px;
}

#news_author{
font-size:16px;
color:#c2a67f;
float:left;
margin-left:15px;
}





#news_block_full{
height:100%;	
/* Firefox */
width: -moz-calc(100% - 15px);
/* WebKit */
width: -webkit-calc(100% - 15px);
/* Opera */
width: -o-calc(100% - 15px);
/* Standard */
width: calc(100% - 1px);	

margin-bottom:2px;
margin:0 auto;
margin-top:10px;

}

#news_text_full{
	font-size:18px;
	padding:10px;
	background-color:#f5eff1;
	width:100%;
height:100%;
color:#aab4ab;	

}

 
 #select{
 display:none;
 }

 

 
  .email{
 font-size:18px;
 text-align:left;
  padding-top:10px;
  margin-bottom:10px;
  margin-left:10px;
 }
 
  
  .email_block{

 color:#927d47;
 margin-top:10px;
 height:100%;
 background-color:white;
padding:10px;
 }
  .email_block textarea{
 padding-right:10px;
  }
  .email_block input{
  margin-right:10px;
  }
   #subject{ color:#927d47; margin-top:10px;}
   #content{ color:#927d47;margin-top:10px;}
   
   .rep_label{
   margin-top:20px;
   text-align:right;
   font-size:18px;
    color:#927d47;
   }
 
 .rep_title{
 margin-top:50px;
  text-align:center;
   font-size:20px;
   margin-bottom:10px;
   color:#927d47;
 }
 
 .send_button{

  text-align:center;
   font-size:20px;
   cursor:pointer;
   color:#927d47;
   border:1px solid #927d47;
  width:200px;

float:right;
  padding:5px;
  margin-top:10px;
 }
 
 /*---------------Popup---------------*/
 #parent_popup {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
 #parent_popup2 {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
 #parent_popup3 {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
 #parent_popup4 {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#popup { 
  background-color:#927d47;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border: 6px solid #f2f3eb;
  position: relative;
  width:80%;
  font-size:20px;
   color:#f2f3eb;
  
  
/*--тени для блока--*/
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
 /*--скругленные углы--*/

}

.close {
    background-color: #927d47;
    border: 2px solid white;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: -30px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    top: -24px;
    width: 24px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
     border-radius: 15px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
     box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background-color: rgba(209, 46, 46, 0.8);
}
 
 .error_text{
 font-size:20px;
 color:white;
 text-align:center;

 width:500px;
 height:100px;
 left:50%;
 margin-left:-250px;
 position:absolute; 
 top:50%;
 margin-top:-50px;
 }
 .separator{
 width:1024px;
 height:60px;
  background:url(images/separator.png);
  position:absolute;
  overflow: none;
 }
 
 /*-----------gallary------------*/
 
 .gallary_picture{
 width:240px;
 height:150px;
 }
 
 .upload_warn{
 color:red;
 }

